.App {
  text-align: center;
  background-color: #f0f8ff;
}

.App-header {
  position: relative;
  background-color: #1E90FF;
  padding: 100px;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.auth-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

.auth-button {
  background-color: white;
  color: #1E90FF;
  border: 1px solid #1E90FF;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.auth-button:hover {
  background-color: #1E90FF;
  color: white;
}

.hero {
  background-color: #32CD32;
  color: white;
  padding: 40px;
  margin: 20px 0;
  animation: slideIn 1s ease-in-out;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.feature {
  background-color: #FFD700;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  animation: bounceIn 1s ease-in-out;
}

.reasons {
  background-color: #f8f8f8;
  color: #333;
  padding: 40px;
  margin: 20px 0;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.reasons ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.sales-info {
  background-color: #FF69B4;
  color: white;
  padding: 40px;
  margin: 20px 0;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.animated-button {
  background-color: #FFD700;
  color: #1E90FF;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.animated-button:hover {
  transform: scale(1.05);
}

/* New header styling */
.header {
  overflow: hidden;
  background-color: #1279d1;
  padding: 10px 40px;
}

.header button {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  border: none;
  background: none;
}

.header a.home-btn {
  font-size: 25px;
  font-weight: bold;
}

.header button:hover {
  background-color: none;
  color: rgb(186, 186, 186);
  cursor: pointer;
}

.header-right {
  float: right;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

@keyframes bounceIn {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}
