/* In Lessons.css */
.lessons-page {
    padding: 20px;
  }
  
  .lessons-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .lessons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .lesson-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .lesson-item-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .lesson-item-description {
    margin-bottom: 20px;
  }
  
  .lesson-details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .lesson-details-button:hover {
    background-color: #0056b3;
  }

/* New CSS */
.lesson-page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}

.back-btn {
  margin-right: 20px;
}

h1 {
  flex: 1;
  text-align: center;
}

.lesson-content-container {
  display: flex; /* Use Flexbox */
  flex-direction: row;
}

.lesson-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px; 
  background-color: #f4f4f4; 
  padding: 10px;
  flex-shrink: 0;
}

.lesson-main {
  flex-grow: 1;
  padding: 20px;
}

.tablinks {
  background-color: #228B22; /* Background color for buttons */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding to buttons */
  margin-bottom: 5px; /* Space between buttons */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: left; /* Align text to the left */
  width: 100%; /* Make buttons full width */
  box-sizing: border-box; /* Include padding in width calculation */
}

.tablinks:hover {
  background-color: #1B5E20;
}

.tablinks.active {
  background-color: #E6735A; /* Background color for active button */
  color: white; /* Text color for active button */
}
  