/* Side Navigation */
.side-nav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #228B22; /* Forest Green */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.mascot-container {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-bottom: 30px;
}

.btn-container button {
  width: 90%;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background: #2E8B57; /* Sea Green */
  border: none;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  margin-bottom: 8px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-container .logout-btn {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button:hover {
  background-color: #006400; /* Dark Green */
  transform: scale(1.05);
}

.roadmap-page {
  margin-left: 240px;
  padding: 20px;
  background-color: #F0FFF0; /* Honeydew background */
  /* font-family: 'Comic Sans MS', cursive, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* Roadmap Header */
.roadmap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Roadmap Title */
.roadmap-title {
  font-size: 2.5em;
  color: #FF7F50; /* Coral */
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #000;
  animation: bounce 2s infinite;
}

/* Language Dropdown */
.language-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.language-dropdown button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.language-dropdown-content .language-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-dropdown-content .language-item:hover {
  background-color: #f1f1f1;
}

.language-dropdown:hover .language-dropdown-content {
  display: block;
}

.new-languages {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.roadmap-row {
  background-color: none;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.activity-container {
  background-color: #76c7c0;
  margin: 10px;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
  border-radius: 10px;
}

.activity-title {
  margin-bottom: 10px;
  font-size: large;
}

.activity-title h2 {
  margin: 10px 0 10px 0;
}

.activity-buttons {
  display: flex;
  margin: 0 15px 15px 15px;
}

.connection {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.connection.right {
  top: 50%;
  left: 100%;
  width: 50px;
}

.connection.down {
  top: 100%;
  left: 50%;
  height: 20px;
  width: 2px;
}

.connection.left {
  top: 50%;
  right: 100%;
  width: 20px;
}

.locked-message {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

@keyframes unlockAnim {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

/* Bounce Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.fade-in {
  opacity: 1;
}